@import '~@angular/material/theming';

$orange-palette: mat-palette($mat-orange, 400);
$blue-gray-palette: mat-palette($mat-blue-gray, 400);
$brown-palette: mat-palette($mat-brown, 400);
$red-palette: mat-palette($mat-red, 400);
$blue-palette: mat-palette($mat-blue, 400);

:host {
  display: flex;
  break-inside: avoid;
  flex-direction: row;
  justify-content: center;
}

.cell {
  width: 100px;
  height: 100px;
  min-width: 100px;
  min-height: 100px;
  margin: 7px;
  position: relative;
  color: white;
  border: 3px solid transparent;
}

.city-level {
  position: absolute;
  right: 2px;
  top: 2px;
}

// tile modifier

.cell.empty {
  background-color: #9E9E9E;
}

.cell.mountain {
  background-color: mat-color($brown-palette);
}

.cell.fort {
  background-color: mat-color($orange-palette);
}

.cell.city {
  background-color: mat-color($blue-gray-palette);
}

// player modifier

.cell.no-player {
  border-color: transparent;
}

// direction modifier

.cell.dir-east.black-player {
  border-right: 3px solid mat-color($red-palette);
}

.cell.dir-north.black-player {
  border-top: 3px solid mat-color($red-palette);
}

.cell.dir-west.black-player {
  border-left: 3px solid mat-color($red-palette);
}

.cell.dir-south.black-player {
  border-bottom: 3px solid mat-color($red-palette);
}

.cell.dir-east {
  border-right: 3px solid mat-color($blue-palette);
}

.cell.dir-north {
  border-top: 3px solid mat-color($blue-palette);
}

.cell.dir-west {
  border-left: 3px solid mat-color($blue-palette);
}

.cell.dir-south {
  border-bottom: 3px solid mat-color($blue-palette);
}
