@import '~@angular/material/theming';

$orange-palette: mat-palette($mat-orange, 400);
$green-palette: mat-palette($mat-green, 400);
$brown-palette: mat-palette($mat-brown, 400);

:host {
  display: flex;
  break-inside: avoid;
  flex-direction: row;
  justify-content: center;
}

.cell {
  width: 100px;
  height: 100px;
  min-width: 100px;
  min-height: 100px;
  margin: 5px;
  position: relative;
  border: 2px solid;
}

.city-level {
  position: absolute;
  right: 2px;
  top: 2px;
}

.cell.empty {
  border-color: black;
}

.cell.mountain {
  border-color: mat-color($brown-palette);
}

.cell.fort {
  border-color: mat-color($orange-palette);
}

.cell.city {
  border-color: mat-color($green-palette);
}

.cell.no-player {
  background-color: transparent;
}

.cell.black-player {
  background-color: #666666;
  color: #EEEEEE;
}

.cell.white-player {
  background-color: #DDDDDD;
  color: #666666;
}
