<mat-toolbar color="primary" class="mat-elevation-z2">
  <mat-toolbar-row>OConquer</mat-toolbar-row>
  <mat-toolbar-row class="tab-row">
    <nav mat-tab-nav-bar #navBar>
      <a mat-tab-link class="tab-item"
         *ngFor="let link of navLinks"
         [routerLink]="link.path"
         routerLinkActive #rla="routerLinkActive"
         [routerLinkActiveOptions]="{exact: true}"
         [active]="rla.isActive"
         [class.active-tab-item]="rla.isActive">
        {{link.label}}
      </a>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>
<div class="content">
  <router-outlet></router-outlet>
</div>
